.bt{
    width: 150px;
    height: 100px;
    background-color: crimson;
    color: white;
    border-bottom-color: black;
    border-bottom: 10px;
    border-bottom-style: solid;
}

body{
    text-align: center;
}

#shown{
    width: 350px;
    height: 300px;
}

#sasm{
    width: 500px;
    height: 400px;
    border: 3px;
    border-style: solid;
    border-color: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 22;
}

.op{
    width: 150px;
    height: 100px;
    background-color: crimson;
    color: white;
}

#sub{
     width: 500px;
    height: 400px;
    border: 3px;
    border-style: solid;
    border-color: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 22;
}

#comp{
    width:250px;
    height: 150px;
    font-size: 22;
}